

.felx-demo-wrapper{
    position: relative;
    max-width: fit-content;
    border: solid thin black;
    border-radius: 5px;
}
.flex-demo-menu{
    width:170px!important;
}

.flex-item-example{
    border-radius: 5px;
    position: relative;
    width: 75px;
    background-color: cadetblue;
    border:solid thin black;
    height: auto;
    isolation: isolate;
    z-index: 1;
    transition:0.3s;
}
.flex-item-example:hover{
    transition:0.3s;
    opacity: 0.8;
    cursor: pointer;
}

.flex-item-example-content{
    position: relative;
    
    height: 75px;
    
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
@media only screen and (max-width: 1205px){
    .flex-item-example{width: 35px;}
    .flex-item-example-content{height: 50px};
}

.flex-container-example{
    position: relative;
    display: flex;
    height: 500px;
    background-color: blueviolet;
    border-radius: 5px;
    overflow-y: auto;
    transition: 0.3s;
}
.flex-container-example:hover{
    transition: 0.3s;
    background-color:#90b;
    cursor: pointer;
}

.center-with-transform{
    position: absolute;
    display:inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}