

.felx-demo-wrapper{
    position: relative;
    width: 800px;
    height: 500px;
    border: solid thin black;
    border-radius: 5px;
}

.flex-item-example{
    border-radius: 5px;
    position: relative;
    width: 75px;
    background-color: cadetblue;
    border:solid thin black;
    height: auto;
}

.flex-item-example-content{
    position: relative;
    
    height: 75px;
    
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

.flex-container-example{
    position: relative;
    display: flex;
    height: 500px;
    background-color: blueviolet;
    border-radius: 5px;
}

.center-with-transform{
    position: absolute;
    display:inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}