
*{
    --flex-demo-menu-width: 170px;
}
.felx-demo-wrapper{
    position: relative;
    max-width: fit-content;
    border: solid thin black;
    border-radius: 5px;
}
.flex-demo-menu{
    width:var(--flex-demo-menu-width)!important;
}

.flex-item-example{
    border-radius: 5px;
    position: relative;
    background-color: cadetblue;
    border:solid thin black;
    height: auto;
    isolation: isolate;
    z-index: 1;
    transition:0.3s;
}
.flex-item-example:hover{
    transition:0.3s;
    opacity: 0.8;
    cursor: pointer;
    
}
.on-top:hover{
    z-index: 3;
}

.help-icon{
    position: relative;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: green;
    color:white;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 50%;
    transition: 0.3s;
}
.help-icon:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.3s;
}


.flex-item-example-content{
    position: relative;
    
    /* height: 75px; */
    
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
@media only screen and (max-width: 1205px){
    /* .flex-item-example{width: 35px;}
    .flex-item-example-content{height: 50px}; */
}

.flex-container-example{
    position: relative;
    display: flex;
    height: 600px;
    background-color: blueviolet;
    border-radius: 5px;
    overflow-y: auto;
    transition: 0.3s;
}
.flex-container-example:hover{
    transition: 0.3s;
    background-color:#90b;
    cursor: pointer;
}

.center-with-transform{
    position: absolute;
    display:inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.style-explanation-label{
    position: fixed;
    /* position: absolute; */
    display: none;
    isolation: isolate;
    background-color:white;
    border-radius: 6px;
    opacity: 0;
    color:transparent;
    z-index: 3;
    padding: 5px;
    border:black solid thin;
}
.bold{
    font-weight: bold;
}


.show-explanation{
    color: black;
    opacity: 1;
    transition-delay: 0.4s;
}

.nav-link:not(.active){
    cursor: pointer;
}


.flex-help-modal-shutter{
    position: absolute;
    width: 100%;
    /* width: auto; */
    right:0;
    width: calc(100% - var(--flex-demo-menu-width));
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border: black solid thin;
}
.flex-help-modal{
    max-width: 80%;
    background-color:white;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    padding:1rem;
    overflow: auto;
}
.flex-help-modal-title{
    font-weight: bold;
    font-size: 1.5rem;
}
.flex-help-modal-content{
    
}