@import url('./components/contentRenderer/flexDemo/flexDemo.css');
@import url('./components/contentRenderer/gridPresent/gridPresent.css');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:target {
  background: yellow;
}

.hidden{
  display: none;
}
.no-decoration{
  list-style-type: none;
}
.hoverable:hover{
  cursor: pointer;
}

.note{
  all: initial;
  text-align: left;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  border-left: gray solid thick;
  /* display: inline-block; */
  display: block;
  margin:5px;
}

.note-danger{
  background-color: #f99;
  border-left: red solid thick;
}
.note-success{
  background-color: #9f9;
  border-left: green solid thick;
}

.expanded{
  transform: rotateZ(90deg);
  transition: 0.3s;
}
.collapsed{
  transition: 0.3s;
}

.show-animate{
  transition: 0.4s;
  max-height: 60rem;
  overflow: hidden;
}
.hide-animate{
 transition: 0.4s;
 max-height: 0;
 overflow: hidden;
 padding:0!important;
}

.ml-1rem{margin-left: 1rem;}
.ml-2rem{margin-left: 2rem;}
.ml-3rem{margin-left: 3rem;}
.ml-4rem{margin-left: 4rem;}
.ml-5rem{margin-left: 5rem;}
.ml-6rem{margin-left: 6rem;}



/********************* Flexbox demonstration *************************/

.flexbox-ex-row{
  /* counter-increment: div; */
  counter-reset: div;
  display: flex;
  border: thin black solid;
  border-radius: 5px;
  background-color:blueviolet;
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
  margin: 10px;
  padding: 10px;
  position: relative;
}
.flexbox-ex-wrap{
  flex-wrap: wrap;
}
.flexbox-ex-item{
  position: relative;
  width: 100px;
  height: 60px;
  background-color:cadetblue;
  border-radius: 5px;
  font-size: 2rem;
  margin: 5px;
}
.flexbox-ex-item:before{
  content: counter(div);
  counter-increment: div +1;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  
}
.flexbox-ex-300px{
  width: 300px;
}

.disabled{
  color: #777;
  text-decoration: line-through;
}
